* {
    font-family: sans-serif, monospace;
    font-size: 14px;
}

window#waybar {
    background: rgba(42, 46, 50, 1);
    border: 2px solid #3daee9;
    border-top: 0px;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* General styles */
#workspaces,
#network,
#bluetooth,
#mpris,
#window,
#tray,
#pulseaudio,
#wireplumber,
#backlight,
#keyboard-state,
#battery,
#idle_inhibitor,
#clock,
#custom-power-profile,
#custom-usb-drives {
    color: #ffffff;
    background: transparent;
    margin-bottom: 2px;
    padding: 0px 0px;
}

#clock {
	padding: 0px 6px 0px 0px;
}

#workspaces {
    /* min-width: 250px; */
    margin: 0px 0px 2px 2px;
    border-right: 2px solid #3daee9;
    padding: 0px 2px 0px 0px;
}

#workspaces button {
    padding: 0px;
    border: 1px solid transparent;
    min-width: 24px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #ffffff;
}

#workspaces button.empty {
    color: #808080;
}

#workspaces button.active {
    background: #1e5774;
    border: 1px solid #3daee9;
    color: #ffffff;
}

#workspaces button.urgent {
    background: #f53c3c;
}

#window {

}

#mpris {
	padding-left: 6px;
	border-left: 2px solid #3daee9;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {

}

#pulseaudio.muted {
    color: #808080;
}

#wireplumber {

}

#wireplumber.muted {
    color: #808080;
}

#keyboard-state {
    color: #808080;
}

#keyboard-state label.numlock {
    padding-left: 6px;
}

#keyboard-state label.locked {
    color: #ffffff;
}

#battery {

}

#battery.critical:not(.charging) {
    background: #f53c3c;
}

/*#custom-power-profile {
    padding: 0px 3px;
}*/

#clock {
    margin-right: 3px;
}

#custom-spacer {
    background: #3daee9;
    margin: 2px 0px;
    min-width: 2px;
}
