* {
    font-family: JetBrains Mono Medium, monospace;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

/* General styles */
#clock,
#battery,
#keyboard-state,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#window {
    color: #ffffff;
    background-color: #2a2e32;
    border-top: 3px solid #3daee9;
    border-bottom: 3px solid #3daee9;
    padding: 0px 6px;
}

/* Modules-left */
#workspaces {
    min-width: 180px;
    background-color: #2a2e32;
    border: 3px solid #3daee9;
    border-radius: 6px;
    margin-right: 6px;
}

#workspaces button {
    padding: 0px 6px;
    color: rgba(255, 255, 255, 0.6);
}

#workspaces button:hover {
    background: #4b5162;
}

#workspaces button.active {
    background: #3daee9;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#network {
    border-left: 3px solid #3daee9;
    border-radius: 6px 0px 0px 6px;    
}

#network.disconnected {
    color: #f53c3c;
}

#bluetooth {
    border-right: 3px solid #3daee9;
    border-radius: 0px 6px 6px 0px;
    margin-right: 6px;
}

/* Modules-center */
#window {
    border: 3px solid #3daee9;
    border-radius: 6px;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

/* Modules-right */
#tray {
    border: 3px solid #3daee9;
    border-radius: 6px;
    margin-right: 6px;
}

#pulseaudio {
    border-left: 3px solid #3daee9;
    border-radius: 6px 0px 0px 6px;
}

#pulseaudio.muted {
    color: rgba(255, 255, 255, 0.6)
}

#backlight {
    
}

#keyboard-state {
    color: rgba(255, 255, 255, 0.6);
    border-right: 3px solid #3daee9;
    border-radius: 0px 6px 6px 0px;
}

#keyboard-state label.capslock {
    font-size: 16px;
}

#keyboard-state label.numlock {
    padding: 0px 0px 0px 8px;
    font-size: 18px;
}

#keyboard-state label.locked {
    color: #ffffff;
}

#battery {
    border-left: 3px solid #3daee9;
    border-radius: 6px 0px 0px 6px;
    margin-left: 6px;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

#idle_inhibitor {
    color: rgba(255, 255, 255, 0.6);
    border-right: 3px solid #3daee9;
    border-radius: 0px 6px 6px 0px;
}

#idle_inhibitor.activated {
    color: #ffffff;
}


#clock {
    border: 3px solid #3daee9;
    border-radius: 6px;
    margin-left: 6px;
}